<span class="popupdiv2">

<ul>

<li><strong>BRANDING</strong>
<span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1480743131_1522149413.png?itok=G-bB41xa"></span>
<p>This system comes with our design it until you love it branding guarantee. We will work on the design of your new portal until you are satisfied with the work.
</p>
</li>

    <li><strong>RESPONSIVE DESIGN</strong>
       <span> <img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/55514272_1522149432.png?itok=QyBIM56K"></span>
        <p>This system comes completely mobile ready with the latest responsive web technology and will work cross platform on any device.
        </p>
    </li>

    <li><strong>CUSTOM CONTENT
    </strong>
        <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/207979266_1522149462.png?itok=L5T1TkHA"></span>
        <p>This system comes with completely custom written content based on your media and business model. We will do a full interview to discover what the best potential path for your content will be.

        </p>
    </li>

    <li><strong>CODE FRAMEWORK
    </strong>
        <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/2047493423_1522149482.png?itok=uh4Ynyfk"></span>
        <p>This system comes with our custom code framework built to work with the search engines making the entire website very easy for the algorithms to read and place.


        </p>
    </li>


    <li><strong>SOCIAL SHARE TOOLS
    </strong>
        <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1961310845_1522149507.png?itok=xiBVnL8O"></span>
        <p>This system comes fully set up with social media sharing, Facebook business page integration and twitter integration.

        </p>
    </li>


    <li><strong>VIDEO AND PHOTOS
</strong>
       <span> <img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/609021609_1522149530.png?itok=vtJrztX1"></span>
        <p>This system allows for the instant management of YouTube videos, image galleries and the ability to push these easily and quickly to your social media.
</p>
    </li>


        <li><strong>MAGNETIC BROADCAST</strong>
         <span>  <img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1055807493_1522149545.png?itok=p0nTZwSf"></span>
        <p>This platform comes with our proprietary Magnetic Broadcast custom social broadcasting system. This allows your business to add social affiliates, friends and family to your social sharing.
</p>
    </li>


     <li><strong>COMPANY STAFF</strong>
         <span>  <img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/99330199_1522149560.png?itok=436bNLlA"></span>
        <p>This system comes with very easy systems management tools for adding members of your staff, their departments and if desired, individual contact information.

</p>
    </li>



     <li><strong>TESTIMONIALS TOOL</strong>
         <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1660223772_1522213507.png?itok=s7cPs7v2"></span>
        <p>This system comes with our mobile testimonial tool making it very easy for your customers to give you a video testimonial and push them post in your other social and business directories for the same.
</p>
    </li>


  <li><strong>CRM LEAD CAPTURE</strong>
      <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/588225784_1522213544.png?itok=9gqYWavP"></span>
        <p>This system comes with our proprietary website CRM and lead management technology for capturing inquiries of those that come to your website looking for more information.

</p>
    </li>



  <li><strong>LOCATIONS</strong>
      <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1863727221_1522213567.png?itok=2a1MJCWz"></span>
        <p>This system comes with very easy systems management for adding additional locations for your business if you have more than one or end up expanding.


</p>
    </li>


      <li>
          <strong>SCHEDULING SYSTEM</strong>

          <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/371293283_1522213591.png?itok=MvBtFGMH"></span>
        <p>This system comes with a powerful scheduling manager, if desired, you can manage your appointment schedules right on your website. We can tie this to your current scheduling software if there is an API done for an hourly cost.

</p>
    </li>

     <li><strong>EASY SEO
</strong>
         <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/587610474_1522213615.png?itok=A9w2al4_"></span>
        <p>This system comes with our easy SEO page structure making it very simple for the search engines to be able to read and score every sentence on your website.

</p>
    </li>


         <li><strong>BLOG TECHNOLOGY
</strong>
             <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/289599377_1522213650.png?itok=QCWvSPCd"></span>
        <p>This system allows you to manage a very sophisticated page manager and blog technology creating rich blog posts that include images, video and styled text.
</p>
    </li>

     <li><strong>MANAGE NEWSLETTER
</strong>
         <span><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1782662547_1522213670.png?itok=bi5nrce_"></span>
        <p>This system comes with a newsletter manager allowing for people to sign up to receive updates from your blog as well as accept a newsletter from your company
</p>
    </li>
</ul>
</span>