<span class="popupdiv1">

    <span class="popupdiv1_wrapper"  >

        <span class="popupdiv1_infodiv">


    <span  class="teamimg"><img src="../../../assets/image/2.jpg"/></span>


<span class="popupdiv1_img">
    <h1>{{data.title}}</h1>

         <h2>{{data.department}}</h2>


<span class="labelblock">

     <label *ngFor="let val of data.contact">
          <i class="material-icons">
            phone
          </i> <a href="tel: {{val}}"> {{val}}</a>
        </label>
</span>
  <span class="labelblock">
      <label *ngFor="let val of data.email">
         <i class="material-icons">
            email
          </i> <a href="mailto:{{val}}" target="_top">{{val}}</a>
        </label>

    </span>


<p>{{data.description}}</p>

       </span>

            <span class="clear"></span>

        </span>

<span class="clear"></span>

        <mat-card  class="popupaccordion">

       <!-- <h6  class="popupheadingtext"    > Please  click here for a full list of features that come with the ApogeeInvent Direct Response Store Platform.</h6>-->



  <mat-accordion class="popupaccordion_detail" >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
           <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1480743131_1522149413.png?itok=G-bB41xa"></span>
           <strong>BRANDING</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
          <p> This system comes with our design it until you love it branding guarantee. We will work on the design of your new portal until you are satisfied with the work.</p>
        </mat-panel-description>

       </mat-expansion-panel>

     <mat-expansion-panel>
        <mat-expansion-panel-header>
         <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/207979266_1522149462.png?itok=L5T1TkHA"></span>
           <strong>CUSTOM CONTENT</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
        <p>This system comes with completely custom written content based on your media and business model. We will do a full interview to discover what the best potential path for your content will be.

        </p>
        </mat-panel-description>

       </mat-expansion-panel>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
        <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/2047493423_1522149482.png?itok=uh4Ynyfk"></span>
           <strong>CODE FRAMEWORK</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
        <p>This system comes with our custom code framework built to work with the search engines making the entire website very easy for the algorithms to read and place.


        </p>
        </mat-panel-description>

       </mat-expansion-panel>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
        <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1961310845_1522149507.png?itok=xiBVnL8O"></span>
           <strong>SOCIAL SHARE TOOLS</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
       <p>This system comes fully set up with social media sharing, Facebook business page integration and twitter integration.

        </p>
        </mat-panel-description>

       </mat-expansion-panel>
        <mat-expansion-panel>
        <mat-expansion-panel-header>
      <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/609021609_1522149530.png?itok=vtJrztX1"></span>
           <strong>VIDEO AND PHOTOS</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
       <p>This system allows for the instant management of YouTube videos, image galleries and the ability to push these easily and quickly to your social media.
</p>
        </mat-panel-description>

       </mat-expansion-panel>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
      <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1055807493_1522149545.png?itok=p0nTZwSf"></span>
           <strong>MAGNETIC BROADCAST</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
      <p>This platform comes with our proprietary Magnetic Broadcast custom social broadcasting system. This allows your business to add social affiliates, friends and family to your social sharing.
</p>
        </mat-panel-description>

       </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
      <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/99330199_1522149560.png?itok=436bNLlA"></span>
           <strong>COMPANY STAFF</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
      <p>This system comes with very easy systems management tools for adding members of your staff, their departments and if desired, individual contact information.

</p>
        </mat-panel-description>

       </mat-expansion-panel>
        <mat-expansion-panel>
        <mat-expansion-panel-header>
     <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1660223772_1522213507.png?itok=s7cPs7v2"></span>
           <strong>TESTIMONIALS TOOL</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
        <p>This system comes with our mobile testimonial tool making it very easy for your customers to give you a video testimonial and push them post in your other social and business directories for the same.
</p>
        </mat-panel-description>

       </mat-expansion-panel>


        <mat-expansion-panel>
        <mat-expansion-panel-header>
      <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/588225784_1522213544.png?itok=9gqYWavP"></span>
           <strong>CRM LEAD CAPTURE</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
     <p>This system comes with our proprietary website CRM and lead management technology for capturing inquiries of those that come to your website looking for more information.

</p>
        </mat-panel-description>

       </mat-expansion-panel>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
      <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1863727221_1522213567.png?itok=2a1MJCWz"></span>
           <strong>LOCATIONS</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
      <p>This system comes with very easy systems management for adding additional locations for your business if you have more than one or end up expanding.</p>
        </mat-panel-description>

       </mat-expansion-panel>

          <mat-expansion-panel>
        <mat-expansion-panel-header>
      <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/371293283_1522213591.png?itok=MvBtFGMH"></span>
           <strong>SCHEDULING SYSTEM</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
      <p>This system comes with a powerful scheduling manager, if desired, you can manage your appointment schedules right on your website. We can tie this to your current scheduling software if there is an API done for an hourly cost.

</p>
        </mat-panel-description>

       </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/587610474_1522213615.png?itok=A9w2al4_"></span>
           <strong>EASY SEO</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
     <p>This system comes with our easy SEO page structure making it very simple for the search engines to be able to read and score every sentence on your website.

</p>
        </mat-panel-description>

       </mat-expansion-panel>

         <mat-expansion-panel>
        <mat-expansion-panel-header>
        <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/289599377_1522213650.png?itok=QCWvSPCd"></span>
           <strong>BLOG TECHNOLOGY</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
     <p>This system allows you to manage a very sophisticated page manager and blog technology creating rich blog posts that include images, video and styled text.
</p>
        </mat-panel-description>

       </mat-expansion-panel>

       <mat-expansion-panel>
        <mat-expansion-panel-header>
         <span class="popdetailimg"><img src="http://influxiqadmin.influxiq.com/sites/default/files/styles/thumbnail/public/1782662547_1522213670.png?itok=bi5nrce_"></span>
           <strong>MANAGE NEWSLETTER</strong>


        </mat-expansion-panel-header>

        <mat-panel-description>
       <p>This system comes with a newsletter manager allowing for people to sign up to receive updates from your blog as well as accept a newsletter from your company
</p>
        </mat-panel-description>

       </mat-expansion-panel>

  </mat-accordion>


            </mat-card>


</span>

    </span>
