<h2 class="h2heading">Video Gallery</h2>

<p class="ptext1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


<mat-card class="video_detail_wrapper">
  <ul>
    <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img1.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


      <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


      <span class="clear"></span>


    </li>
    <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img2.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


      <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


      <span class="clear"></span>


    </li>
    <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


      <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


      <span class="clear"></span>


    </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img1.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img2.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>

      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img1.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img2.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>

      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img1.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img2.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img1.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img2.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>
      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>

      <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                    </span>
                      <span class="videoimgplay">
                         <img src="../../../assets/images/playicon.png" alt="#" class="playicon"/>
                    </span>



              </span>


          <span class="videotext_box">

              Lorem Ipsum is simply dummy text of the printing and typesetting industry.




            </span>


          <span class="clear"></span>


      </li>

    <span class="clear"></span>

  </ul>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</mat-card>