<h2 class="h2heading">Video Gallery</h2>

<p class="ptext1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


<mat-card class="video_wrapper">

      <mat-card-content class="video_big">


        <mat-card-subtitle class="video_big_box">

<span class="videoWrapper">

          <iframe width="560" height="315" src="https://www.youtube.com/embed/xcJtL7QggTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>

        </mat-card-subtitle>

        <mat-card-subtitle class="video_big_box_detail">

        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>


        <p>

          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>




          <h3><span>Jul 23, 2019 </span></h3>

          <label>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>

          </label>

          <span class="clear"></span>

        </mat-card-subtitle>




      </mat-card-content>


      <mat-card-content class="video_small">

        <h1>Our Video Gallery</h1>

        <ul>
          <li>
              <span class="videoimg_box">
                <span class="videoimg">
                   <img src="../../../assets/images/video_img1.jpg" alt="#"/>
                </span>


              </span>


            <span class="videotext_box">

               <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>




            </span>


            <span class="clear"></span>


          </li>

          <li>
              <span class="videoimg_box">
                <span class="videoimg">
                    <img src="../../../assets/images/video_img2.jpg" alt="#"/>
                </span>


              </span>


            <span class="videotext_box">

               <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>




            </span>


            <span class="clear"></span>


          </li>

          <li>
              <span class="videoimg_box">
                <span class="videoimg">
                 <img src="../../../assets/images/video_img3.jpg" alt="#"/>
                </span>


              </span>


            <span class="videotext_box">

               <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>




            </span>


            <span class="clear"></span>


          </li>


        </ul>


        <button class="viewadetailbtn" [routerLink]="['/videodetail']">View All</button>

      </mat-card-content>


  <span class="clear"></span>
</mat-card>